---
page_title: "{{ .ProviderName }}: {{ .Name }} Data Source"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }}

{{ .Description | trimspace }}


## Admin Permission Type

{{ if or (eq .Name "cloudngfwaws_ngfw") (eq .Name "cloudngfwaws_ngfws") -}}
* `Firewall`
{{- else if eq .Name "cloudngfwaws_ngfw_log_profile" -}}
* `Firewall`
{{- else if eq .Name "cloudngfwaws_country" -}}
* `Rulestack`
{{- else if eq .Name "cloudngfwaws_app_id_version" -}}
* `Rulestack`
{{- else if eq .Name "cloudngfwaws_app_id_versions" -}}
* `Rulestack`
{{- else -}}
* `Rulestack` (for `scope="Local"`)
* `Global Rulestack` (for `scope="Global"`)
{{- end }}


{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}


{{ .SchemaMarkdown | trimspace }}
