---
page_title: "Provider: cloudngfwaws"
description: |-
    The Palo Alto Networks Cloud NGFW for AWS provider.
---

# Provider cloudngfwaws

The cloudngfwaws provider provides resources to manage your Palo Alto Networks Cloud Next-Gen Firewalls for AWS.

Palo Alto Networks Cloud NGFW combines best-in-class network security with cloud ease of use and delivers the leading ML-powered NGFW as a cloud-native service on AWS.


## Authentication Workflow

This provider first authenticates against AWS, performing STS assume role. After that is successful, it then retrieves the JWTs for firewall and rulestack administration.

The AWS access key and secret key can be statically specified in the `provider` block or they will be picked up from the shared credentials file.


## AWS Config

The initial portion of the authentication workflow uses the AWS Go SDK, and as such control over the AWS portion of the authentication can be controlled using AWS environment variables (e.g. - `AWS_PROFILE` to specific a specific profile if multiple are present in your shared credentials file).  Please refer to the AWS documentation for more control on the AWS authentication.


## Example Usage

Terraform 0.13 and later:

{{tffile "examples/provider/provider.tf"}}

Example JSON config file:

{{codefile "shell" "examples/provider/json_config_file.sh"}}


## Provider Parameter Priority

There are multiple ways to specify the provider's parameters.  If overlapping values are configured for the provider, then this is the resolution order:

1. Statically configured in the `provider` block
2. Environment variable (where applicable)
3. Taken from the JSON config file


{{ .SchemaMarkdown | trimspace }}


## Support

This provider is officially supported by Palo Alto Networks TAC.  If you encounter any issues with the provider, you can either open a Github issue or contact Palo Alto Networks TAC.
