---
page_title: "{{ .ProviderName }}: {{ .Name }} Resource"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }}

{{ .Description | trimspace }}
{{- if eq .Name "cloudngfwaws_commit_rulestack" }}

!> **NOTE:** This resource should be placed in a separate plan as the plan that configures the rulestack and its contents.  If you do not, you will have perpetual configuration drift and will need to run your plan twice so the commit is performed.  Placing instances of this resource with instances of NGFW resources (such as `cloudngfwaws_ngfw`) is fine.

{{- end }}
{{- if eq .Name "cloudngfwaws_ngfw" }}

-> **NOTE:** Having the `rulestack` param reference the rulestack name from `cloudngfwaws_commit_rulestack` ensures that Terraform will only try to spin up a NGFW instance if the commit is successful.
{{- end }}


## Admin Permission Type

{{ if eq .Name "cloudngfwaws_ngfw" -}}
* `Firewall`
{{- else if eq .Name "cloudngfwaws_ngfw_log_profile" -}}
* `Firewall`
{{- else -}}
* `Rulestack` (for `scope="Local"`)
* `Global Rulestack` (for `scope="Global"`)
{{- end }}


{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}


{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}


## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}
