---
page_title: "{{ .ProviderName }}: {{ .Name }} Resource"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Name }}

{{ .Description | trimspace }}
{{- if eq .Name "cloudngfwaws_commit_rulestack" }}

This resource should be in a plan file by itself (having other rulestack commits is fine).

!> **NOTE:** This resource does not error if the commit failed.  To see if the commit failed, check the commit status attribute.
{{- end }}


## Admin Permission Type

{{ if eq .Name "cloudngfwaws_ngfw" -}}
* `Firewall`
{{- else if eq .Name "cloudngfwaws_ngfw_log_profile" -}}
* `Firewall`
{{- else -}}
* `Rulestack`
{{- end }}


{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}


{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}


## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}
